{{{partial 'layout_header'}}}
    <body class="wepp">
        <div class="wepp-navbar">
            导航栏
        </div>
        <div class="wepp-container">
            {{{render}}}
        </div>
    </body>
{{{partial 'layout_footer'}}}